.patient-navbar {
  width: 100%;
  padding: 14px 30px;
  background: #0a84ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.patient-nav-links a {
  margin-left: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.patient-nav-links a:hover {
  color: #cce6ff;
}
