.admin-navbar {
  width: 100%;
  background: #0a3d62;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.admin-navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.admin-nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.admin-nav-links a:hover {
  color: #82ccdd;
}
